<div class="food-grid">
  <div class="food-card" *ngFor="let food of foods">

    <!-- Imagen + nombre clicables -->
    <a
      [routerLink]="['/food', food._id]"
      class="food-link"
    >
      <div class="image-wrapper">
        <img
          [src]="imageUrl(food.image)"
          [alt]="food.name"
        />
      </div>

      <h3 class="title">{{ food.name }}</h3>
    </a>

    <p class="price">{{ food.price }} €</p>

    <div class="rating">
      ⭐ {{ food.stars }}
    </div>

    <button class="add-btn" (click)="addToCart(food)">
      Añadir al carrito
    </button>

  </div>
</div>
